# Root directories to track
/*
!/README.md
!/frontend/
!/backend/
!/.gitignore

# Specific build artifacts and env files to ignore
node_modules/
.next/
__pycache__/
*.pyc
venv/
.env
.env.*
.vs/
.vscode/
*.log
venv/
ENV/
env/
# Models & DBs (Keep them if needed)
# backend/models/
# backend/faiss_db/
